body{
    background-color:#011627;
    color:white;
    text-align: center;
    border: 40px solid #2EC486;
    border-top: 0px;
    margin: 0px;
}

p{
    padding-top: 4%;
    padding-left: 22%;
    padding-right: 22%;
}

form{
    font-size: 1.5em;
    margin-bottom: 10px;
}

#sub{
    background-color: yellow;
    height: 80px;
    width: 150px;
    margin: 4px;
    margin-top: 12px;
    font-size: 1.5em;
    border-radius: 25px;
}